@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
  /* color: #eadcff */
}
.navlink {
  @apply flex gap-1 items-center pb-1 border-b-2 border-transparent hover:border-[#9F62F2] transition-colors duration-200 px-2;
}
a.active {
  color: #9f62f2;
  border-bottom: 2px solid #9f62f2;
}
.contribute {
  @apply btn bg-gradient-to-r from-[#4C4CEA] to-[#9865F3] text-white flex gap-1 items-center lg:text-base hover:scale-95 transition-all duration-600;
}
.showAll {
  @apply bg-gradient-to-r from-[#4C4CEA] to-[#9865F3] text-white w-48 py-2 rounded-md px-4 flex justify-center hover:scale-95 transition-all duration-600;
}
.btnIns {
  @apply btn bg-[#00D390] rounded-md cursor-pointer text-lg text-white shadow-2xl hover:bg-white hover:text-[#00D390] hover:border-[#00D390] transition-all duration-300;
}
.btnUn {
  @apply btn bg-[#00D390] rounded-md cursor-pointer text-white shadow-2xl hover:bg-white hover:text-[#00D390] hover:border-[#00D390] transition-all duration-300;
}
.subscribe {
  @apply bg-gradient-to-r from-[#4C4CEA] to-[#9865F3] text-white 
               w-11/12 md:w-9/12 lg:w-8/12 
               rounded-lg shadow-2xl
               flex flex-col items-center justify-center text-center
               absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 py-8 shadow-indigo-600;
}
