@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}
.navlink {
  @apply flex gap-1 items-center pb-1 border-b-2 border-transparent hover:border-[#9F62F2] transition-colors duration-200;
}
a.active {
  color: #9f62f2;
  border-bottom: 2px solid #9f62f2;
}
.contribute {
  @apply btn bg-gradient-to-r from-[#4C4CEA] to-[#9865F3] text-white flex gap-1 items-center lg:text-base;
}
